%nav.navbar.container-fluid
  .navbar-brand
    = link_to "Sesh.", events_path
  - if user_signed_in?
    %ul.nav.navbar-nav.navbar-right
      %li= link_to "log out", destroy_user_session_path, method: "delete"
.page-break