%h4 Invite Users
= form_for(Attendee.new) do |f|
  = f.collection_select(:user_id, @invitable_users, :id, :name)
  = hidden_field_tag :event_id, @event.id
  = f.submit "invite", class: "btn btn-primary btn-sm"